.footer {
    background: var(--clr-dark);
    color: var(--clr-accent);
    font-size: var(--fs-h2);
    text-align: center;
    padding: 1em 0 1.5em;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.footer__link {
    font-size: var(--fs-h3);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .75;
}

.footer .footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: .5em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}