<div class="spacer wave1"></div>

<section class="about-me" id="about-me">
    <!-- <p class="section__subtitle section__subtitle--about">
        Programmer, Mathematician, Musician
    </p> -->
    <h1 class="hidden section__title section__title--work">
        About Me
    </h1>
    
    <div class="hidden about-me__body">
        <div class="about-me__body-bio">
            <h2 class="section__title section__title--about">
                Who I am
            </h2>
            <p>
                I'm a developer with a background in music, which gives me a unique perspective when it comes to full-stack development. My passion for music not only allows me to be creative, but also helps me to have a good sense of aesthetics and design when it comes to my approach to technology. I am always looking for ways to make my work both functional and visually pleasing. Whether it's coding or playing the guitar, I'm driven to create beautiful and polished work.
            </p>

            <div>
                <button>
                    My Resume
                </button>

                <button (click)="openAudioPlayer()">
                    Music Sample
                </button>
            </div>
        </div>

        <!-- <div class="about-me__img">
            <img src="/assets/wall_selfie_cutout.png" alt="Harrison Hutton selfie">
        </div> -->
    
        <div class="hidden about-me__education">
            <h2 class="section__title section__title--about">
                Education
            </h2>
            <img id="UB-logo" src="assets/UB_logo.png" alt="UB seal">
            <ul>
                <li class="degree">
                    <div class="degree-type" id="compsci">
                        BS/MS Computer Science and Engineering
                    </div>
                    <div class="degree-year">
                        2024
                    </div>
                </li>

                <li class="degree">
                    <div class="degree-type" id="math">
                        BS Applied Mathematics
                    </div>
                    <div class="degree-year">
                        2023
                    </div>
                </li>

                <li class="degree">
                    <div class="degree-type" id="psychology">
                        BA Psychology
                    </div>
                    <div class="degree-year">
                        2023
                    </div>
                </li>

                <li class="degree">
                    <div class="degree-type" id="physics">
                        Physics Minor
                    </div>
                    <div class="degree-year">
                        2022
                    </div>
                </li>
            </ul>
    
        </div>
    </div>
</section>

<section *ngIf="showAudioPlayer" class="audio-player">
    <app-audio-player
            [audioSrc]="this.prismAudioSrc"
            [albumArtSrc]="this.prismAlbumArtSrc"
            [albumArtAlt]="this.prismAlbumArtAlt"
            [musicTitle]="this.prismTitle"
            [artistName]="this.prismArtistName">
    </app-audio-player>
</section>

<div class="spacer wave2"></div>