<section class="about-me" id="about-me">
    <h2 class="section__title section__title--about">
        Who I am
    </h2>
    <p class="section__subtitle section__subtitle--about">
        Programmer, Mathematician, Musician
    </p>
    
    <div class="about-me__body">
        <p>
            Nisi tempor cupidatat labore ut minim. Enim eu veniam nulla magna consectetur enim excepteur do nisi et dolore tempor dolor. Magna eu ullamco dolore reprehenderit quis amet et magna excepteur voluptate eiusmod sint culpa. Consequat laboris nostrud exercitation nostrud sint Lorem consectetur consequat tempor exercitation irure elit.
        </p>

        <p>
            Elit nostrud ad ut voluptate esse culpa. In est sint id reprehenderit amet laboris mollit esse cupidatat nisi est culpa magna. Ipsum dolor ea pariatur minim fugiat laboris voluptate tempor in reprehenderit dolor ea incididunt. Anim ut fugiat sit adipisicing irure anim cillum ex exercitation sint excepteur. Incididunt ea pariatur nulla ipsum nisi. Exercitation quis ex nostrud sint labore dolore sint irure amet fugiat tempor labore adipisicing. Magna non reprehenderit ut aliqua Lorem eiusmod amet id qui.
        </p>
    </div>

    <img src="/assets/selfie.png" alt="Harrison Hutton selfie" class="about-me__img">
</section>
