<div class="spacer wave1"></div>

<section class="about-me" id="about-me">
    <!-- <p class="section__subtitle section__subtitle--about">
        Programmer, Mathematician, Musician
    </p> -->
    <h1 class="section__title section__title--work">
        About Me
    </h1>
    
    <div class="about-me__body">
        <div class="about-me__body-bio">
            <div class="bio--text">
                <h2 class="section__title section__title--about">
                    Who I am
                </h2>
                <p>
                    I'm a student at The University at Buffalo who enjoys working on full-stack apps in their free time. Alongside my development skills, I also play guitar and write my own songs. Lately, I've been focusing on UI/UX design to improve the aesthetics and functionality of my work. My background in music has given me a unique perspective on the intersection of creativity and technology, and I strive to create beautiful, polished work that balances form and function effectively.
                </p>
            </div>

            <div class="bio--buttons">
                <button (click)="openResume()">
                    <span class="button_top">
                        My Resume
                    </span>
                </button>

                <button (click)="openAudioPlayer()">
                    <span class="button_top">
                        Music Sample
                    </span>
                </button>
            </div>
        </div>

        <!-- <div class="about-me__img">
            <img src="/assets/wall_selfie_cutout.png" alt="Harrison Hutton selfie">
        </div> -->
    
        <div class="about-me__education">
            <h2 class="section__title section__title--about">
                Education
            </h2>
            <img id="UB-logo" src="assets/UB_logo.png" alt="UB seal">
            <ul>
                <li class="degree">
                    <div class="degree-type" id="compsci">
                        BS/MS Computer Science and Engineering
                    </div>
                    <div class="degree-year">
                        2024
                    </div>
                </li>

                <li class="degree">
                    <div class="degree-type" id="math">
                        BS Applied Mathematics
                    </div>
                    <div class="degree-year">
                        2024
                    </div>
                </li>

                <li class="degree">
                    <div class="degree-type" id="psychology">
                        Psychology Minor
                    </div>
                    <div class="degree-year">
                        2024
                    </div>
                </li>

                <li class="degree">
                    <div class="degree-type" id="physics">
                        Physics Minor
                    </div>
                    <div class="degree-year">
                        2024
                    </div>
                </li>
            </ul>
    
        </div>
    </div>
</section>

<section *ngIf="showAudioPlayer" class="audio-player">
    <app-audio-player
            [audioSrc]="this.prismAudioSrc"
            [albumArtSrc]="this.prismAlbumArtSrc"
            [albumArtAlt]="this.prismAlbumArtAlt"
            [musicTitle]="this.prismTitle"
            [artistName]="this.prismArtistName">
    </app-audio-player>
</section>

<div class="spacer wave2"></div>