.about-me {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    
    @media (min-width: 1024px) {
        padding: 5em 6em;
    }

    &__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__body {
        text-align: left;
        max-width: 1300px;
        
        &-bio {
            font-size: 1.2em;
            margin-bottom: 3em;
        }
    }
}

@media (min-width: 990px) {
    .about-me__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2em;

        &-bio {
            margin-bottom: 0;
        }
    }
}

#UB-logo {
    padding: 1em;
    // border-radius: 12px;
    border: 4px solid var(--clr-dark);
    background: white;
    margin: 1em 0;
}

.degree {
    display: flex;
    justify-content: space-between;

    &-type::before {
        margin-right: 0.5em;
    }

    &-year {
        // Italicize the text
        font-style: italic;
        color: var(--clr-dark-variant);
    }
}

.bio {

    &--text {
        margin-bottom: 1.5rem;
    }

    &--buttons {
        & > * {
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }
}

#compsci::before {
    content: "💻";
}

#math::before {
    content: "🧮";
}

#physics-and-psych::before {
    content: "⚛️";
}

.audio-player {
    padding: 0;
}

/* SVG Wave */
.wave1 {
    background-image: url('../../assets/waves/wave1-cropped.svg');
}

.wave2 {
    background-image: url('../../assets/waves/wave2-cropped.svg');
}

.hidden {
    opacity: 0;
    transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
    transform: translateY(2rem);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Style the buttons with CSS from uiverse.io:
 * https://uiverse.io/Voxybuns/lucky-fireant-71 */
button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}