.about-me {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media (min-width: 1024px) {
        padding: 5em 6em;
    }

    &__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__body {
        text-align: left;
        max-width: 1300px;

        &-bio {
            margin-bottom: 3em;
        }
    }
}

@media (min-width: 990px) {
    .about-me__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2em;

        &-bio {
            margin-bottom: 0;
        }
    }
}

#UB-logo {
    padding: 1em;
    // border-radius: 12px;
    background: white;
    margin: 1em 0;
}

.degree {
    display: flex;
    justify-content: space-between;

    &-type::before {
        margin-right: 0.5em;
    }

    &-year {
        // Italicize the text
        font-style: italic;
        color: var(--clr-light-variant);
    }
}

#compsci::before {
    content: "💻";
}

#math::before {
    content: "🧮";
}

#physics::before {
    content: "⚛️";
}

#psychology::before {
    content: "🧠";
}

.audio-player {
    padding: 0;
}