<div class="modal-background" (click)="closeAudioPlayer()">
    <div class="music-player" (click)="stopPropagation($event)">
        <div class="music-player__container">
            <img class="music__img" [src]="albumArtSrc" [alt]="albumArtAlt">
    
            <div class="music__title">
                <h2 class="song-name">
                    {{ musicTitle }}
                </h2>
    
                <h3 class="artist-name">
                    {{ artistName }}
                </h3>
            </div>
    
            <div class="music__player">
                <audio controls class="music__controls">
                    <source [src]="this.audioSrc" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
    </div>
</div>
