<section class="my-work" id="my-work">
    <h2 class="section__title section__title--work">
        My Work
    </h2>
    <p class="section__subtitle section__subtitle--work">
        A few of my favorite projects...
    </p>

    <div class="portfolio">
        <!-- Portfolio item 01 -->
        <a href="#" class="portfolio__item">
            <img src="/assets/laptop.png" alt="" class="portfolio__img">
        </a>

        <!-- Portfolio item 02 -->
        <a href="#" class="portfolio__item">
            <img src="/assets/laptop.png" alt="" class="portfolio__img">
        </a>

        <!-- Portfolio item 03 -->
        <a href="#" class="portfolio__item">
            <img src="/assets/laptop.png" alt="" class="portfolio__img">
        </a>

        <!-- Portfolio item 04 -->
        <a href="#" class="portfolio__item">
            <img src="/assets/laptop.png" alt="" class="portfolio__img">
        </a>

        <!-- Portfolio item 05 -->
        <a href="#" class="portfolio__item">
            <img src="/assets/laptop.png" alt="" class="portfolio__img">
        </a>

        <!-- Portfolio item 06 -->
        <a href="#" class="portfolio__item">
            <img src="/assets/laptop.png" alt="" class="portfolio__img">
        </a>

        <!-- Portfolio item 07 -->
        <a href="#" class="portfolio__item">
            <img src="/assets/laptop.png" alt="" class="portfolio__img">
        </a>

        <!-- Portfolio item 08 -->
        <a href="#" class="portfolio__item">
            <img src="/assets/laptop.png" alt="" class="portfolio__img">
        </a>

        <!-- Portfolio item 09 -->
        <a href="#" class="portfolio__item">
            <img src="/assets/laptop.png" alt="" class="portfolio__img">
        </a>

        <!-- Portfolio item 10 -->
        <a href="#" class="portfolio__item">
            <img src="/assets/laptop.png" alt="" class="portfolio__img">
        </a>
    </div>
</section>
