<section class="my-work" id="my-work">
    <h1 class="section__title section__title--work">
        My Work
    </h1>
    <!-- <p class="section__subtitle section__subtitle--work">
        A few of my favorite projects...
    </p> -->

    <div class="portfolio">
        <!-- Portfolio item 01 -->
        <div class="portfolio__item hidden">
            <div>
                <img id="mtb-logo-img" class="portfolio__item--img" src="assets/mtb-logo.png" alt="M&T logo">
            </div>

            <div class="portfolio__item--text">
                <h2 class="portfolio__item--title">
                    M&T Universal Search
                    <i class="fa-solid fa-lock"></i>
                </h2>
                <h3 class="portfolio__item--subtitle">
                    (Internship)
                </h3>
                <div class="portfolio__item--description">
                    <p>
                        On an <strong>Agile</strong> team, I built the frontend of a universal document search tool during my Summer '22 internship. I learned how to use <strong>Angular</strong>, <strong>TypeScript</strong>, and <strong>SCSS</strong> to design an inviting and functional UI and communicate with a Java Springboot backend. This tool allows employees to search for any document, new, old, or acquired by acquisition across all of M&T's CMS systems by using a taxonomy structure to hide the underlying complexity.
                    </p>
                    <br>
                    <p>
                        By cutting out the vendor fees of the systems that M&T was paying for, this app is saving M&T <strong>$4 million annually</strong>.
                    </p>
                </div>
            </div>
        </div>


        <!-- Portfolio item 02 -->
        <div class="portfolio__item hidden">
            <div>
                <img class="portfolio__item--img" src="assets/interpreter-code.png" alt="interpreter code">
            </div>

            <div class="portfolio__item--text">
                <h2 class="portfolio__item--title">
                    Bytecode Interpreter
                    <i class="fa-solid fa-lock"></i>
                </h2>
                <div class="portfolio__item--description">
                    <p>
                        As a semester-long project for my Programming Language's course, I built a bytecode interpreter from scratch in <strong>OCaml</strong>. I learned how to use a functional language to construct an abstract syntax tree for a given input file and then execute the file using a stack-based interpreter. 
                    </p>
                    <br>
                    <p>
                        My goal throughout the project was to keep my code as modular as possible to isolate the individual working parts of the interpreter. I did this by separating the project into Types, Utilities, and Execution modules. This allowed me to quickly find and squash any bugs that appeared. 
                    </p>
                    <br>
                    <p>
                        The toughest part of this project was implementing first-class functions and closures, but it did get done! Overall, this project was a great introduction to functional programming, pattern matching, and the power of recursion.
                    </p>
                </div>
            </div>
        </div>


        <!-- Portfolio item 03 -->
        <div class="portfolio__item hidden">
            <div>
                <img class="portfolio__item--img" src="assets/game-screens/landing_page.png" alt="landing page screen">
            </div>

            <div class="portfolio__item--text">
                <h2 class="portfolio__item--title">
                    Minor Prophets
                    <a href="https://github.com/samarthjj/Minor-Prophets" target="_blank">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </h2>
                <div class="portfolio__item--description">
                    <p>
                        Sunt aliquip id ut anim consectetur aliqua aute amet pariatur. Cillum officia non nisi eu dolor non deserunt magna. Veniam non reprehenderit culpa fugiat. Fugiat adipisicing ullamco excepteur dolor ut do et amet dolore irure aliquip. Cupidatat nostrud quis sit cillum officia sit ut tempor cupidatat excepteur deserunt adipisicing. Ad nulla nulla velit nostrud aute dolor sit ut nulla minim occaecat. Eu excepteur ipsum officia pariatur aliqua culpa ea est ut commodo.
                    </p>
                </div>
            </div>
        </div>


        <!-- Portfolio item 04 -->
        <div class="portfolio__item hidden">
            <div>
                <img class="portfolio__item--img" src="assets/risk_chart.png" alt="risk chart">
            </div>

            <div class="portfolio__item--text">
                <h2 class="portfolio__item--title">
                    "Risk" Dice Roll Chances
                    <a href="https://github.com/HarrisonHutton/Risk-Dice-Roll-Chances" target="_blank">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </h2>
                <div class="portfolio__item--description">
                    <p>
                        Sunt aliquip id ut anim consectetur aliqua aute amet pariatur. Cillum officia non nisi eu dolor non deserunt magna. Veniam non reprehenderit culpa fugiat. Fugiat adipisicing ullamco excepteur dolor ut do et amet dolore irure aliquip. Cupidatat nostrud quis sit cillum officia sit ut tempor cupidatat excepteur deserunt adipisicing. Ad nulla nulla velit nostrud aute dolor sit ut nulla minim occaecat. Eu excepteur ipsum officia pariatur aliqua culpa ea est ut commodo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
