<section class="my-work" id="my-work">
    <h1 class="section__title section__title--work">
        My Work
    </h1>
    <!-- <p class="section__subtitle section__subtitle--work">
        A few of my favorite projects...
    </p> -->

    <div class="portfolio">
        <!-- Portfolio item -->
        <div class="portfolio__item hidden">
            <div>
                <img id="mtb-logo-img" class="portfolio__item--img" src="assets/mtb-logo.png" alt="M&T logo">
            </div>

            <div class="portfolio__item--text">
                <h2 class="portfolio__item--title">
                    M&T Universal Search
                    <i class="fa-solid fa-lock"></i>
                </h2>
                <h3 class="portfolio__item--subtitle">
                    (Internship: Summer '22)
                </h3>
                <div class="portfolio__item--description">
                    <p>
                        On an <strong>Agile</strong> team, I built the frontend of a universal document search tool during my Summer '22 internship. I learned how to use <strong>Angular</strong>, <strong>TypeScript</strong>, and <strong>SCSS</strong> to design an inviting and functional UI and communicate with a Java Springboot backend. This tool allows employees to search for any document, new, old, or acquired by acquisition across all of M&T's CMS systems by using a taxonomy structure to hide the underlying complexity.
                    </p>
                    <br>
                    <p>
                        By cutting out the vendor fees of the systems that M&T was paying for, this app is saving M&T <strong>$4 million annually</strong>.
                    </p>
                </div>
            </div>
        </div>


        <!-- Portfolio item -->
        <div class="portfolio__item hidden">
            <div>
                <img class="portfolio__item--img" src="assets/interpreter-code.png" alt="interpreter code">
            </div>

            <div class="portfolio__item--text">
                <h2 class="portfolio__item--title">
                    Bytecode Interpreter
                    <i class="fa-solid fa-lock"></i>
                </h2>
                <div class="portfolio__item--description">
                    <p>
                        As a semester-long project for my Programming Language's course, I built a bytecode interpreter from scratch in <strong>OCaml</strong>. I learned how to use a functional language to construct an abstract syntax tree for a given input file and then execute the file using a stack-based interpreter. 
                    </p>
                    <br>
                    <p>
                        My goal throughout the project was to keep my code as modular as possible to isolate the individual working parts of the interpreter. I did this by separating the project into Types, Utilities, and Execution modules. This allowed me to quickly find and squash any bugs that appeared. 
                    </p>
                    <br>
                    <p>
                        The toughest part of this project was implementing first-class functions and closures, but it did get done! Overall, this project was a great introduction to functional programming, pattern matching, and the power of recursion.
                    </p>
                </div>
            </div>
        </div>


        <!-- Portfolio item -->
        <div class="portfolio__item hidden">
            <div>
                <img class="portfolio__item--img" src="assets/game-screens/landing_page.png" alt="landing page screen">
            </div>

            <div class="portfolio__item--text">
                <h2 class="portfolio__item--title">
                    Minor Prophets
                    <a href="https://github.com/samarthjj/Minor-Prophets" target="_blank">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </h2>
                <div class="portfolio__item--description">
                    <p>
                        For my <strong>Software Engineering</strong> course, I worked on a semester-long project that utilized my skills in <strong>Python</strong> and allowed me to gain experience with <strong>React</strong>.
                    </p>
                    <br>
                    <p>
                        My primary responsibility was the development of the <strong>backend code</strong> which processed Spotify data for a live-multiplayer quiz game. The game, similar to Kahoot or Jackbox, was based on popular music from Spotify, and questions were randomly generated to ensure each game felt unique.
                    </p>
                    <br>
                    <p>
                        I used the <strong>Spotipy library</strong> to efficiently work with Spotify's API and retrieve the necessary data for the game. Our team followed <strong>Agile</strong> methodologies, including writing user stories, tasks, and task tests, and had weekly meetings with our project manager. Our sprints were two weeks long, allowing us to make meaningful progress towards our goal.
                    </p>
                    <br>
                    <p>
                        Towards the end of the semester, I shifted my focus to the <strong>frontend React code</strong>, implementing timed rounds and automatic redirection after the rounds were completed.
                    </p>
                    <br>
                    <p>
                        This project provided a great opportunity to work on a software product from start to finish and demonstrate my ability to work in a team setting.
                    </p>
                </div>
            </div>
        </div>


        <!-- Portfolio item -->
        <div class="portfolio__item hidden">
            <div>
                <img class="portfolio__item--img" src="assets/risk_chart.png" alt="risk chart">
            </div>

            <div class="portfolio__item--text">
                <h2 class="portfolio__item--title">
                    "Risk" Dice Roll Chances
                    <a href="https://github.com/HarrisonHutton/Risk-Dice-Roll-Chances" target="_blank">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </h2>
                <div class="portfolio__item--description">
                    <p>
                        For this project, I used <strong>Python</strong> to estimate the average win rate percentages for dice-rolling battles in the board game Risk through the use of Monte Carlo methods. The program was written from scratch to simulate a typical dice-rolling battle in Risk and determine the outcome based on the set of rolled numbers for each player.
                    </p>
                    <br>
                    <p>
                        The results were visualized using Excel and built using approximately 1500 'battles.' It's important to note that the results are approximate and should be interpreted as such. The outcome of each battle is determined by the set of rolled numbers for each player and the number of troops they have on the board.
                    </p>
                    <br>
                    <p>
                        This project provided an opportunity to apply my skills in Python and Monte Carlo methods to solve a problem and gain insights into the gameplay of Risk. The results were visualized using Excel to better understand the average win rate percentages for dice-rolling battles in the game.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
