.my-work {
    background-color: var(--clr-accent);
    text-align: center;
    
    @media (min-width: 990px) {
        padding: 5em 6em;
    }
}

.portfolio {
    text-align: left;
    margin: 0 auto;
    max-width: 1300px;
    
    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 4em;
        
        @media (min-width: 990px) {
            gap: 1em;
            display: grid;
            grid-template-columns: 2fr 3fr;
        }


    }
}

.portfolio__item--title {
    font-size: calc(var(--fs-h2) * .7);
    font-weight: var(--fw-bold);
    margin-bottom: .5em;
}

.portfolio__item--description {
    margin-bottom: 2em;
}

.portfolio__item--img {
    box-shadow: var(--box-shadow);
    margin-bottom: 2em;
    border-radius: 4px;
}

#mtb-logo-img {
    padding: 0 1em;
    background: white;
}