// Define variables
$primary-color: var(--clr-dark);
$secondary-color: var(--clr-accent);
$secondary-color-dark: var(--clr-accent-dark);
$navbar-height: 70px;
$font-size-name: 4rem;
$font-size-title: 6rem;
//$font-size-subtitle: 2rem;

// Define media query breakpoints
$breakpoint-sm: 600px;

.intro {
  min-height: calc(100vh);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: $primary-color;

  @media (min-width: 1024px) {
    justify-content: flex-start;
  }
  
  .section__title {
      font-size: clamp(1rem, 2.5rem, 4rem) !important;
      font-weight: bold;
      margin: 0;
      letter-spacing: 0.1rem;
      color: var(--clr-light);
      position: relative;

      &-text {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 1100px;

      }
      
      .name {
        color: transparent;
        background-image: linear-gradient(to right, $secondary-color, $secondary-color-dark);
        background-clip: text;
        margin: 0;
        filter: var(--drop-shadow);
        
        animation: rotatecolor 6s linear infinite;
        
        &-text {
          margin-bottom: 2rem;
          .pronouns {
            color: var(--clr-dark-variant);
          }
        }
      }
  }

  @media (min-width: 800px) {
    height: calc(100vh - $navbar-height);

    .name {
      font-size: 10rem;
    }
    .section__title {
      font-size: 8rem;
    }
  }
}


@keyframes rotatecolor {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}