<section class="intro" id="home">
    <div [@myTrigger]="isVisible" class="section__title section__title--intro">
        <div class="name-text">
            <h1 class="section__title-text">Hi, I'm 
                <div class="name">
                    Harrison Hutton
                </div>
            </h1>
            <h2 class="pronouns">
                (he/him)
            </h2>
        </div>
        <div class="hobbies">
            Computer Science Student, Musician, Passionate Learner.
        </div>
    </div>
</section>
